
{{ partial "header.html" . }}

<div id="main" class="container anaconda-container">

    <div class="about">

        <div class="row">
            <div class="col-md-3">
                {{ .TableOfContents }}
            </div>

            <div class="col-md-9" role="main">
                <div class="anaconda-content">
                    <h1 id="title">{{ .Title }}</h1>
                    <article id="content">
                        {{ .Content }}
                    </article>
                </div>
            </div>

        </div>

    </div>

</div>
{{ partial "footer.html" . }}
